<head>
    <meta charset="utf-8">
    <title>Awsesome api doc</title>
    <link href="{{publicUrl}}/index.css" rel="stylesheet">
</head>

<body>
<div id="root">
</div>
<script type="text/javascript" src="{{publicUrl}}/index.js"></script>
<script>{
  JS.init();
}</script>
</body>